<%- include("./partials/Header") %>

    <h2 style="color: white; margin: 10px; padding: 10px;">This is Basic Website build On NodeJs, Express,
        Nodemailer &
        Google
        oAuth2Clinet
        Api.
        In this site the main part is send mail via nodejs. Some Desiging is done with the
        help of the HTML,CSS & BOOTSTRAP.
    </h2>

    <%- include("./partials/Footer") %>